[Unit]
Description=A service that periodically reminds the user to take a break and eventually reboots the system.
After=network.target

[Service]
Type=simple
User=screamd
ExecStart=/usr/local/bin/screamd
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
